<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team9.healthmate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Healthmate"
         >

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" 
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Medications.Medication"
            android:label="@string/title_activity_medication" >
        </activity>
        <activity
            android:name=".HealthLocation"
            android:label="@string/title_activity_health_location" >
        </activity>
        <activity
            android:name=".Moods"
            android:label="@string/title_activity_moods" >
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".Emergency"
            android:label="@string/title_activity_emergency" >
        </activity>
        <activity
            android:name=".StepCounter"
            android:label="@string/title_activity_step_counter" >
        </activity>
        <activity
            android:name=".Medications.NewMedication"
            android:label="@string/title_activity_new_medication" >
        </activity>
        <activity
            android:name=".Medications.MedicationDetails"
            android:label="@string/title_activity_medication_details" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".ChartDemo"
            android:label="@string/title_activity_chart_demo" >
        </activity>
        <activity
            android:name=".AnimatedChartDemo"
            android:label="@string/title_activity_animated_chart_demo" >
        </activity>
        <activity
            android:name=".PreviewChartDemo"
            android:label="@string/title_activity_preview_chart_demo" >
        </activity>
        <activity android:name=".MoodTabViewer" >
        </activity>
        <activity
            android:name=".Appointments.AppointmentForm"
            android:label="@string/title_activity_appointment_form" >
        </activity>
        <activity
            android:name=".Appointments.AppointmentsList"
            android:label="@string/title_activity_appointment_list" >
        </activity>
        <activity
            android:name=".Appointments.AppointmentDetail"
            android:label="@string/title_activity_appointment_detail" >
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".Notes.ListOfNotes"
            android:label="@string/title_activity_note_list" >
        </activity>
        <activity
            android:name=".Notes.NoteDetail"
            android:label="@string/title_activity_note_detail" >
        </activity>
        <activity
            android:name=".Notes.NoteEditor"
            android:label="@string/title_activity_note_editor" >
        </activity>

        <service android:name=".NotificationsManager.HealthMateAlarmService" >
        </service>
        <service
            android:name=".NotificationsManager.NotifyService"
            android:enabled="true" />

        <receiver android:name=".NotificationsManager.AlarmReceiver" >
        </receiver>
        <receiver
            android:name=".NotificationsManager.RebootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ContactMyDoctor"
            android:label="@string/title_activity_contact_my_doctor" >
        </activity>
        <activity
            android:name=".ContactMyDoctorItemOptions"
            android:label="@string/title_activity_contact_my_doctor_item_options" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile" >
        </activity>
    </application>

</manifest>
